# ----------------------------------------------------------------------
# This file is part of the ThunderPHP Framework
# ----------------------------------------------------------------------

# ----------------------------------------------------------------------
# Disable directory browsing
# ----------------------------------------------------------------------
Options -Indexes

# ----------------------------------------------------------------------
# Make sure the rewrite engine is on
# ----------------------------------------------------------------------
RewriteEngine On

# ----------------------------------------------------------------------
# Deny access to thunder CLI file
# ----------------------------------------------------------------------
RewriteRule ^thunder(/.*)?$ - [F,L]

# ----------------------------------------------------------------------
# Accept loading of actual files and directories
# ----------------------------------------------------------------------
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# ----------------------------------------------------------------------
# Send everything else to the index page
# ----------------------------------------------------------------------
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]